###################################################################################################
# DEFAULT SETTINGS
#
#    LogsDir
#        Description: Logs directory setting.
#        Important:   LogsDir needs to be quoted, as the string might contain space characters.
#                     Logs directory must exists, or log file creation will be disabled.
#        Default:     "" - (Log files will be stored in the current path)
#

LogsDir = "logs"

#
#    Donate.Repeat.Delay
#        Description: Repeat at every seconds
#        Default:     30
#

Donate.Repeat.Delay = 30
###################################################################################################

###################################################################################################
# MYSQL SETTINGS
#
#    ForumDatabaseInfo
#    LoginDatabaseInfo
#        Description: Database connection settings for the world server.
#        Example:     "hostname;port;username;password;database"
#                     ".;somenumber;username;password;database" - (Use named pipes on Windows
#                                                                 "enable-named-pipe" to [mysqld]
#                                                                 section my.ini)
#                     ".;/path/to/unix_socket;username;password;database" - (use Unix sockets on
#                                                                           Unix/Linux)
#        Default:     "127.0.0.1;3306;warhead;warhead;forum"      - (ForumDatabaseInfo)
#                     "127.0.0.1;3306;warhead;warhead;characters" - (LoginDatabaseInfo)

ForumDatabaseInfo = "127.0.0.1;3306;warhead;warhead;forum"
LoginDatabaseInfo = "127.0.0.1;3306;warhead;warhead;wh_auth"

#
#    LoginDatabase.WorkerThreads
#    ForumDatabase.WorkerThreads
#        Description: The amount of worker threads spawned to handle asynchronous (delayed) MySQL
#                     statements. Each worker thread is mirrored with its own connection to the
#                     MySQL server and their own thread on the MySQL server.
#        Default:     1 - (ForumDatabase.WorkerThreads)
#                     1 - (LoginDatabase.WorkerThreads)

ForumDatabase.WorkerThreads = 1
LoginDatabase.WorkerThreads = 1

#
#    LoginDatabase.SynchThreads
#    ForumDatabase.SynchThreads
#    LoginDatabase.SynchThreads
#        Description: The amount of MySQL connections spawned to handle.
#        Default:     1 - (ForumDatabase.WorkerThreads)
#                     1 - (LoginDatabase.WorkerThreads)

ForumDatabase.SynchThreads = 1
LoginDatabase.SynchThreads = 1
###################################################################################################

###################################################################################################
#
#  LOGGING SYSTEM SETTINGS
#
#  Log sink config values: Given an sink "name"
#    Log.Sink.name
#        Description: Defines 'where to log'
#        Format:      Type,LogLevel,Pattern,Optional1,Optional2,Optional3
#
#                     Type
#                       1 - (Console)
#                       2 - (File)
#
#                     LogLevel
#                       0 - Trace
#                       1 - Debug
#                       2 - Info
#                       3 - Warning
#                       4 - Error
#                       5 - Critical
#                       6 - Disabled
#
#                    Pattern (all type)
#                       * %v - The actual text to log
#                       * %t - Thread id
#                       * %P - Process id
#                       * %n - Logger's name
#                       * %l - The log level of the message
#                       * %L - Short log level of the message
#                       * %a - Abbreviated weekday name
#                       * %A - Full weekday name
#                       * %b - Abbreviated month name
#                       * %B - Full month name
#                       * %c - Date and time representation
#                       * %C - Year in 2 digits
#                       * %Y - Year in 4 digits
#                       * %D or %x - Short MM/DD/YY date
#                       * %m - Month 01-12
#                       * %d - Day of month 01-31
#                       * %H - Hours in 24 format 00-23
#                       * %I - Hours in 12 format 01-12
#                       * %M - Minutes 00-59
#                       * %S - Seconds 00-59
#                       * %e - Millisecond part of the current second 000-999
#                       * %f - Microsecond part of the current second 000000-999999
#                       * %F - Nanosecond part of the current second 000000000-999999999
#                       * %p - AM/PM
#                       * %r - 12 hour clock
#                       * %R - 24-hour HH:MM time, equivalent to %H:%M
#                       * %T or %X - ISO 8601 time format (HH:MM:SS), equivalent to %H:%M:%S
#                       * %z - ISO 8601 offset from UTC in timezone ([+/-]HH:MM)
#                       * %E - Seconds since the epoch
#                       * %% - The % sign
#                       * %+ - spdlog's default format
#                       * %^ - start color range (can be used only once)
#                       * %$ - end color range (for example %^[+++]%$ %v) (can be used only once)
#                       * %@ - Source file and line
#                       * %s - Basename of the source file
#                       * %g - Full or relative path of the source file as appears in the __FILE__ macro
#                       * %# - Source line
#                       * %! - Source function
#                       * %o - Elapsed time in milliseconds since previous message
#                       * %i - Elapsed time in microseconds since previous message
#                       * %u - Elapsed time in nanoseconds since previous message
#                       * %O - Elapsed time in seconds since previous message
#                           Example for file "[%Y-%m-%d %T.%e] %v"
#                           Example for console "[%T.%e] [%t] %^%v%$"
#
#                     Optional1 - File name (is type file)
#                       Example: "Auth.log"
#
#                     Optional2 - Truncate file at open (is type file)
#                          true - Clear file at open (default)
#                          false - Just append logs to file
#
#                     Optional3 - Add timestamp (is type File).
#                           true: Append timestamp to the log file name. Format: YYYY_MM_DD_HH_MM_SS
#                           false: Just using filename (default)
#

Sink.Console = "1","2","[%T.%e] [%t] %^%v%$"
Sink.Donate = "2","2","[%Y-%m-%d %T.%e] %v","Donate.log"

#
#  Logger config values: Given a logger "name"
#    Logger.name
#        Description: Defines 'What to log'
#        Format:      LogLevel,ChannelList
#
#                     LogLevel
#                       0 - Trace
#                       1 - Debug
#                       2 - Info
#                       3 - Warning
#                       4 - Error
#                       5 - Critical
#                       6 - Disabled
#
#                     File channel: file channel linked to logger
#                     (Using spaces as separator).
#

Logger.root = 2,Console Donate
###################################################################################################